Repository offfc/offfc.github.io, pull requests merged in 2024-08, with the labels that each got.

#4 Update index title banner layout
  src/pages/index.module.css
  static/img/cirno-fac.png
  static/img/full-transparent.png
  static/img/site-logo.png
Labels: @framework, @appearance

#6 Mainpage `index.js` design
  docs/index.md
  docusaurus.config.js
  package-lock.json
  package.json
  src/components/HomepageFeatures/index.js
  src/components/HomepageFeatures/styles.module.css
  src/components/HomepageLiveStream/LiveIndicator.css
  src/components/HomepageLiveStream/LiveIndicator.js
  src/components/HomepageLiveStream/index.js
  src/components/HomepageLiveStream/styles.module.css
  src/css/custom.css
  src/pages/index.js
  static/img/handbookCover.png
Labels: @framework, @appearance, @conf, @doc

#8 Quick fix for final version
  src/components/HomepageLiveStream/index.js
  src/pages/index.js
Labels: @framework

#9 Update to latest design
  docs/staff/index.md
  docs/staff/index.mdx
  src/components/SponsorBanner/SponsorBanner.js
  src/components/SponsorBanner/SponsorBanner.module.css
  src/components/StaffBoard/StaffBoard-module.css
  src/components/StaffBoard/StaffBoard.js
  src/pages/index.js
Labels: @framework, @appearance, @doc

#10 Add information page to website
  .editorconfig
  blog/2024.8.11-Welcome.md
  docs/contact/index.md
  docs/easteregg/index.md
  docs/handbook/index.md
  docs/info/index.md
  docs/memes/index.md
  docs/staff/index.mdx
  docusaurus.config.js
  src/components/FeatureButton.js
  src/components/HomepageTitle/HomepageTitle-module.css
  src/components/SponsorBanner/SponsorBanner.js
  src/components/SponsorBanner/SponsorBanner.module.css
  src/components/StaffBoard/StaffBoard.js
  src/css/custom.css
  src/pages/index.js
  src/pages/index.module.css
  src/pages/markdown-page.md
  src/theme/MDXComponents.js
  static/img/info-card.jpg
  static/img/memes/1.png
Labels: @framework, @appearance, @conf, @doc

#12 Fix url destination on staff page
  docs/memes/index.md
  src/components/StaffBoard/StaffBoard.js
  static/img/memes/2.jpg
Labels: @framework, @doc

#13 Add OFFC shortened handbook
  docs/handbook/index.md
  docs/handbook/shortHandbook.md
Labels: @doc

#15 Add new post for teaming information
  blog/2024.8.20-Teaming.md
  blog/README.md
  blog/asset/teamup_formula.svg
  docusaurus.config.js
  package-lock.json
  package.json
  static/img/teamup_formula.svg
Labels: @conf, @doc

#19 Update teaming doc to its latest version
  blog/2024.8.20-Teaming.md
Labels: @doc

#20 Update 2024.8.20-Teaming.md
  blog/2024.8.20-Teaming.md
Labels: @doc

#17 Refactor project structure
  docs/easteregg/index.md
  docs/staff/index.mdx
  docusaurus.config.js
  package-lock.json
  package.json
  src/components/FeatureButton.js
  src/components/FeatureButton/FeatureButton-module.css
  src/components/FeatureButton/FeatureButton.js
  src/components/GiscusComponent/index.js
  src/components/HomepageFeatures/index.js
  src/components/HomepageFeatures/styles.module.css
  src/components/HomepageLiveStream/LiveIndicator.js
  src/components/HomepageLiveStream/LiveIndicator.module.css
  src/components/HomepageLiveStream/index.js
  src/components/HomepageLiveStream/styles.module.css
  src/components/StaffBoard/StaffBoard.js
  src/components/StaffCard/StaffCard-module.css
  src/components/StaffCard/StaffCard.js
  src/css/custom.css
  src/pages/index.js
  src/pages/index.module.css
  src/theme/BlogPostItem/Content/index.js
  src/theme/MDXComponents.js
  static/fonts/Torus/Torus-Bold.otf
  static/fonts/Torus/Torus-Regular.otf
  static/fonts/Torus/Torus-SemiBold.otf
  static/img/card.png
  static/img/trianglesNavbar.png
  static/img/undraw_docusaurus_mountain.svg
  static/img/undraw_docusaurus_react.svg
  static/img/undraw_docusaurus_tree.svg
  static/svg/triangles.svg
Labels: @framework, @appearance, @conf, @doc

#22 Add vercel analytics to site
  package-lock.json
  package.json
  src/pages/index.js
Labels: @framework, @conf

#23 Add more staff to Staff page
  docs/staff/index.mdx
  src/components/StaffCard/StaffCard.js
Labels: @framework

#25 Use direct link for announcement
  docusaurus.config.js
Labels: @conf

#26 Automatic invert images in dark mode
  blog/2024.8.20-Teaming.md
  docs/handbook/index.md
  src/css/custom.css
Labels: @framework, @appearance, @doc

#27 Visual improvement
  docusaurus.config.js
  src/components/HomepageTitle/HomepageTitle-module.css
  src/components/HomepageTitle/HomepageTitle.js
  src/components/StaffCard/StaffCard-module.css
  src/components/StaffCard/StaffCard.js
  src/css/custom.css
  src/pages/index.js
Labels: @framework, @appearance, @conf

#30 Add homepage notification banner
  src/components/HomepageNotification/HomepageNotification.js
  src/components/HomepageNotification/HomepageNotification.module.css
  src/pages/index.js
Labels: @framework, @appearance

#31 Add new post
  blog/2024.8.25-Firetruck.md
  src/pages/index.js
Labels: @framework, @doc

#36 Add new announcement
  blog/2024.8.11-Welcome.md
  blog/2024.8.20-Teaming.md
  blog/2024.8.26-History.md
  docs/handbook/index.md
  src/pages/index.js
  static/img/Blog/History/810rules.png
  static/img/Blog/History/810rules2.png
  static/img/Blog/History/announcement.jpg
  static/img/Blog/History/announcement2.jpg
  static/img/Blog/History/bilibili.jpg
  static/img/Blog/History/discord.jpg
  static/img/Blog/History/discordOriginal.jpg
  static/img/Blog/History/firetruck.jpg
  static/img/Blog/History/letter.jpg
  static/img/Blog/History/limit.jpg
  static/img/Blog/History/message.jpg
  static/img/Blog/History/oldDeng.jpg
  static/img/Blog/History/response.jpg
  static/img/Blog/History/response2.jpg
  static/img/Blog/History/rule.png
  static/img/Blog/History/rule2.jpeg
  static/img/Blog/History/teaming1.jpg
  static/img/Blog/History/teaming2.jpg
  static/img/Blog/History/tx1.png
  static/img/Blog/History/tx2.jpg
  static/img/Blog/History/tx3.jpg
  static/img/Blog/History/word.png
  static/img/Blog/History/xinran.png
  static/img/Blog/History/xinran2.jpg
  static/img/Blog/History/xinran3.jpg
  static/img/Blog/History/xinranDoubt.png
Labels: @framework, @doc

#38 Update doc to latest version & adjust styling
  docs/handbook/index.md
Labels: @doc

#35 Add more memes
  blog/2024.8.26-History.md
  docs/handbook/index.md
  docs/memes/index.md
  static/img/memes/3.jpg
  static/img/memes/4.jpg
  static/img/memes/5.png
  static/img/memes/6.png
Labels: @doc

#40 Announcement Styling
  blog/2024.8.26-History.md
  static/img/Blog/History/tx1.png
  static/img/Blog/History/word.png
Labels: @doc

#41 Edit on announcement (Revert "Announcement Styling")
  blog/2024.8.26-History.md
  static/img/Blog/History/tx1.png
  static/img/Blog/History/word.png
Labels: @doc
